<form method="POST">
    <table style="width:100%">
        {foreach from=$record key=key item=value}
        <tr><td>{$key}</td><td><span>{$value|escape:"html"}</span><input type="hidden" name="{$key|escape:"html"}" value="{$value|escape:"html"}" /></td></tr>
        {/foreach}
        <tr><td>&nbsp;</td><td><input type="submit" value="Delete" /></td></tr>
    </table>
</form>
