<div>
    <a href="add_{$table}.php">New+</a>
</div>
<hr />
<table style="width:100%">
    <tr>
        {foreach from=$records[0] key=name item=value}
        {if $name ne '_id'}
            <th align="center">{$name}</th>
        {/if}
        {/foreach}
            <th align="center">OP</th>
    </tr>
    {foreach from=$records key=i item=record}
    <tr>
        {foreach from=$record key=name item=value}
        {if $name ne '_id'}
            <td align="center">{$value}</td>
        {/if}
        {/foreach}
            <td align="center"><a href="edit_{$table}.php?{$record['_id']}">Edit</a>|<a href="delete_{$table}.php?{$record['_id']}">Delete</a></td>
    </tr>
    {/foreach}
</table>
