<div>
    <a href="add_syntax.php">New+</a>
</div>
<hr />
<form>
    <table style="width:100%">
        <tr>
            <td>
                <label><input type="text" name="keyword" value="{if !empty($keyword)}{$keyword|escape:"html"}{/if}" /></label>
                <input type="submit" value="Search" />
            </td>
        </tr>
    </table>
</form>
<hr />
<table style="width:100%">
    <tr>
        {foreach from=$records[0] key=name item=value}
            <th align="center">{$name}</th>
        {/foreach}
            <th align="center">OP</th>
    </tr>
    {foreach from=$records key=i item=record}
    <tr>
        {foreach from=$record key=name item=value}
            <td align="center">{$value}</td>
        {/foreach}
            <td align="center"><a href="edit_syntax.php?id={$record['id']}">Edit</a>|<a href="delete_syntax.php?id={$record['id']}">Delete</a>|<a href="view_syntax.php?id={$record['id']}">View</a></td>
    </tr>
    {/foreach}
</table>
{$page_html}
